/* abstracts */
:root {
  --first-color: #065c96;
  --first-color-alt: #057acb;
  --second-color: #8bc63f;
  --third-color:  #ff0000;
  /* Fourth */
  --fourth-color: #e3007b;
  --five-color: #dd9c0a;
  /*---- Color ----*/
  --color-text: #333333;
  --color-light: #fff;
  --color-footer: #d1d1d1;
  --title-color: #333;
  /* background*/
  --bg-body: #f0f0f0;
  --bg-white: #fff;
  --bg-button: #ccc;
  --bg-category: #ece9eb;
  --bg-dark: #333333;
}

.overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #56545480;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.overlay-active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .overlay {
    margin-top: 42px;
  }
}

/* base */
.btn-load__more {
  text-transform: uppercase;
  padding: 10px 20px;
  display: table;
  font-weight: 600;
  margin: 15px auto 0;
  font-size: 13px;
  background: none;
  color: var(--first-color-alt);
  border-radius: 34px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.btn-load__more:hover {
  border: 1px solid var(--first-color-alt);
  -webkit-box-shadow: 0 8px 16px 0 gray, 0 6px 20px 0 gray;
          box-shadow: 0 8px 16px 0 gray, 0 6px 20px 0 gray;
}

.btn-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  background-color: var(--second-color);
  color: var(--color-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-detail:hover {
  background-color: var(--first-color);
}

.btn-detail__call:hover {
  color: var(--color-light);
}

.btn-mb__search {
  width: 33px;
  right: 0;
  z-index: 2;
  border-radius: 0 4px 4px 0;
  background: var(--second-color);
  position: absolute;
  font-size: 14px;
  border: none;
}

.btn-mb__search svg {
  fill: var(--color-light);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-body);
  color: var(--color-text);
}

.bg-white {
  color: #fff !important;
}

a {
  color: var(--first-color-alt);
}

a:hover {
  text-decoration: none;
}

/* change container*/
@media (min-width: 1360px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1644px) {
  .container {
    max-width: 1692px;
  }
}

@media (max-width: 992px) {
  body {
    background: #fff;
    font-size: 13px;
  }
}

.wrapper {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
}

.section__title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  margin: 10px 0 20px;
  color: var(--first-color-alt);
}

.section__title-cate {
  border-bottom: 1px solid #ccc;
}

.section__tab {
  padding: 10px 35px;
  display: table;
  background: var(--second-color);
  color: var(--color-light);
}

@media (max-width: 992px) {
  .section__title {
    font-size: 14px;
  }
  .section__title-cate {
    border-bottom: none;
  }
  .section__tab {
    padding: 0;
    background: unset;
    color: var(--first-color-alt);
  }
  .wrapper {
    padding: 0px;
  }
}

/* components */
.partner__bg {
  background: var(--first-color);
  padding: 8px 10px;
  font-size: 18px;
}

.partner__title {
  color: var(--color-light);
}

.partner__list {
  width: 100%;
}

.partner__item {
  width: 210px;
  height: 114px;
  display: block;
}

@media (max-width: 992px) {
  .partner__title {
    font-size: 14px;
  }
}

.new {
  /*-------- gird ---------*/
  /*---- construction ------*/
  /*-- post --*/
}

.new__board {
  background-color: var(--first-color-alt);
  margin-bottom: 14px;
}

.new__title {
  color: #fff;
  padding: 10px;
}

.new-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 110px;
}

.new-grid__item {
  position: relative;
  padding-bottom: 100px;
}

.new-construction {
  position: relative;
}

.new-construction__img img {
  width: 100%;
  height: 200px;
}

.new-construction__title {
  font-weight: bold;
  font-size: 15px;
  color: var(--first-color-alt);
}

.new-construction__box {
  margin-bottom: 10px;
}

.new-construction__link {
  padding-right: 70px;
}

.new-construction__link-more {
  position: absolute;
  right: 0;
  bottom: 60px;
  color: var(--first-color-alt);
  font-weight: 700;
}

.new-construction__link-more svg {
  fill: var(--first-color-alt);
}

.new-post__title {
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0 5px;
}

.new-post__title a {
  color: var(--first-color-alt);
}

.new-post__list li {
  margin-bottom: 20px;
}

.new-post__data {
  font-size: 14px;
}

.new-post__item {
  display: -ms-grid;
  display: grid;
  height: 110px;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.new-post__img img {
  width: 100%;
  height: 80px;
}

/* Media */
@media (max-width: 992px) {
  .new-grid {
    gap: 30px;
  }
  .new-post__title {
    font-size: 12px;
    padding: unset;
  }
  .new-construction__title {
    font-size: 12px;
    padding: unset;
  }
  .new-construction__link-more {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .new {
    /*--- posst ---*/
  }
  .new-grid {
    display: initial;
  }
  .new-grid__item {
    padding-bottom: 50px;
  }
  .new-construction__link {
    padding-right: 0px;
  }
  .new-construction__link-more {
    bottom: 30px;
  }
  .new-post__item {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.product {
  /*--- brand ----*/
  /*---end brand ----*/
  /*---tab ---*/
  /*---end tab ---*/
  /*-- product-type2 --*/
  /*-- Product-type 3 --*/
}

.product-title__sale {
  color: #057acb;
  font-weight: 600;
  padding-left: 5px;
  margin: 20px 0 10px;
}

.product-title__sale svg {
  fill: #057acb;
}

.product__item {
  border: 1px solid #fff;
  position: relative;
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
}

.product__item:hover {
  border: 1px solid var(--first-color-alt);
}

.product__item-slider {
  width: 20%;
}

.product__discount {
  position: absolute;
  right: -5px;
  top: 0;
  background: url(../images/ipro-icon-sale.png) 0 0 no-repeat;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
}

.product__name {
  font-size: 16px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 4px;
  margin-top: 10px;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__price ins {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-decoration: none;
  font-size: 15px;
  color: var(--fourth-color);
}

.product__price del {
  color: var(--title-color);
  font-size: 13px;
}

.product__content {
  display: inherit;
  background-color: #fff;
}

.product__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.product-brand {
  background-color: #dce5eb;
}

.product-brand__list li {
  padding-left: 20px;
  border-bottom: 1px solid #85bbe0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.product-brand__list li a {
  height: 35px;
  line-height: 35px;
  color: var(--first-color);
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.product-brand__list li:hover {
  background-color: var(--second-color);
}

.product-brand__img img {
  width: 100%;
}

.product-tab {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* tab  mobile*/
  /* end tab mobile*/
}

.product-tab__title {
  background-color: var(--second-color);
  font-size: 22px;
  display: inline;
  padding: 10px 100px 10px 10px;
}

.product-tab__title svg {
  fill: var(--bg-white);
}

.product-tab__title a {
  color: var(--bg-white);
  text-transform: uppercase;
  display: inline-block;
}

.product-tab__box {
  position: relative;
}

.product-tab__link {
  color: var(--first-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.product-tab__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.product-tab__mb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--first-color-alt);
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.product-tab__mb-box a {
  color: var(--color-light);
}

.product-tab__mb-title {
  font-size: 18px;
}

.product-tab__mb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 15px;
}

.product-tab__mb-list li a {
  background: #eee;
  color: #057acb;
  font-size: 12px;
  padding: 5px 5px;
  text-align: center;
  border-left: 1px solid;
}

.product__link-more {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product-type2__list {
  width: 100%;
  padding: 15px 0 40px;
}

.product-type2__item {
  width: 314.4px;
  margin-right: 15px;
  text-align: center;
  padding: 10px;
}

.product-type2 .flickity-button {
  color: #fff;
}

.product-type2 .flickity-prev-next-button {
  bottom: 0%;
  top: unset;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #ccc;
}

.product-type2 .flickity-prev-next-button.previous {
  right: 48.5%;
  left: unset;
}

.product-type2 .flickity-prev-next-button.next {
  left: 52%;
}

.product-type3 {
  padding: 20px  0;
}

.product-type3__title {
  font-size: 22px;
  color: red;
  width: 100%;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #e3e3e3;
  margin: 15px 0 10px;
}

.product-type3 .flickity-button {
  background-color: #ccc;
  color: #fff;
}

.product-type3 .flickity-prev-next-button {
  width: 30px;
  height: 60px;
  border-radius: 10px;
}

.category__box {
  padding: 10px;
  border: 1px dashed var(--second-color);
  text-align: justify;
}

.category__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 15px 10px 5px;
}

.category__item {
  width: 100%;
  text-align: center;
  background-color: #efefef;
  border: 1px dotted #ccc;
  color: var(--title-color);
  display: block;
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.category__item a {
  color: var(--title-color);
}

.category__item:hover {
  background-color: var(--bg-dark);
}

.category__item:hover a {
  color: var(--color-light);
}

@media (min-width: 992px) {
  .no-gutters-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .product-tab__title {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .product-tab__title {
    font-size: 20px;
  }
  .product__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .product__item {
    border: 1px solid #e3e3e3;
    padding: 0;
  }
  .product__item-slider {
    width: 32.333%;
    margin-right: 15px;
  }
  .product__name {
    font-size: 14px;
  }
  .product__price ins {
    font-size: 14px;
  }
  .product__price del {
    font-size: 12px;
  }
  .product__discount {
    background-size: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    right: 5px;
    top: 5px;
  }
}

@media (max-width: 768px) {
  .product-tab > a {
    display: none;
  }
  .product-tab__title {
    padding: 10px 30px 10px 10px;
  }
  .product__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .category__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 15px 0 0;
  }
  .category__item {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .product__grid {
    display: initial;
  }
  .product-tab__title {
    font-size: 15px;
  }
  .product-tab__title svg {
    width: 10px;
  }
  .product__link-more {
    top: 10px;
    font-size: 14px;
  }
  .product__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product__item-slider {
    width: 48%;
  }
  .category__list {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.product-detail__short-desc {
  margin: 30px 20px;
  text-align: justify;
  font-size: 18px;
  color: var(--first-color-alt);
}

.product-detail__short-desc table {
  border: 1px solid #ececec;
  text-align: center;
  font-size: 13px;
  border-collapse: collapse;
  height: auto;
  width: 100%;
}

.product-detail__short-desc table tr {
  height: 30px;
}

.product-detail__short-desc table tr td {
  border: 1px solid #ddd;
  height: 30px;
  border-collapse: collapse;
  width: auto;
  text-align: left;
  padding: 0 0 0 10px !important;
}

.product-detail__action {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  max-width: 500px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.product-detail__action svg {
  margin-right: 20px;
  fill: #fff;
}

.product-detail__action-buy {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.product-detail__title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  margin: 10px 0 20px;
  color: var(--first-color-alt);
}

.product-detail__info .nav-pills .nav-link.active {
  color: var(--first-color-alt);
  background-color: unset;
  font-weight: 600;
}

.product-detail__info .nav-link {
  font-weight: 600;
  color: var(--second-color);
}

.slider-img__list img {
  width: 100%;
}

.slider__list {
  width: 100%;
}

.slider__item {
  width: 100%;
}

.slider__data {
  padding: 0 10px 6px;
  margin: 0 -105px 0 -130px;
}

.slider-img__list {
  width: 80%;
  float: right;
}

.silder > div {
  padding: 0;
}

.introNav {
  margin: 0;
  padding: 0;
  width: 296px;
  list-style: none;
  position: relative;
}

.introNav > li > a {
  display: block;
  background: #057acb;
  color: #fff;
  padding: 14px 20px 15px;
  border-bottom: 1px solid #fff;
}

.introNav > li:hover > a {
  background: #88c23f;
}

.introNav > li:hover .introNavBox {
  top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.introNavBox {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  z-index: 10;
  width: 1026px;
  height: 100%;
  padding: 25px 30px 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.introNavBox ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 20%;
  float: left;
}

.introNavBox ul li a {
  font-size: 12px;
  color: #333;
}

.introNavBox ul li a:hover {
  text-decoration: underline;
  color: #057acb;
}

.introNavBoxTitle {
  margin-bottom: 5px;
}

.introNavBoxTitle a {
  color: #e43c3b !important;
  font-weight: 700;
}

@media (max-width: 1440px) {
  .slider__data {
    margin: 0 -85px 0 -45px;
  }
  .header-bottom__search {
    width: 570px !important;
  }
  .introNav > li > a {
    padding: 7px 20px 8px;
  }
  .introNavBox {
    padding: 10px 15px 0;
    width: 760px;
  }
}

@media (max-width: 1366px) {
  .slider__data {
    margin: 0 -85px 0 0px;
  }
}

@media (max-width: 1280px) {
  .header-bottom__search {
    width: 488px  !important;
  }
  .slider__data {
    margin: 0 -85px 0 0px;
  }
  .introNav > li > a {
    padding: 6px 20px;
  }
  .introNavBox {
    width: 681px;
  }
}

@media (max-width: 1024px) {
  .introNav > li > a {
    padding: 4px 20px 5px;
    font-size: 13px;
  }
  .introNavBox {
    width: 648px;
  }
  .introNav {
    width: 240px;
  }
  .slider__data {
    margin: 0 -76px 0 -10px;
  }
}

@media (max-width: 992px) {
  .header-bottom__search {
    width: 338px !important;
  }
  .slider__data {
    margin: 0;
    padding: 0;
  }
  .silder {
    display: none;
  }
}

.rank-math-breadcrumb {
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  background-color: var(--first-color-alt);
}

.rank-math-breadcrumb p {
  padding: 15px 10px 15px;
}

.rank-math-breadcrumb p a {
  color: var(--color-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.rank-math-breadcrumb p a:hover {
  text-decoration: underline;
}

.rank-math-breadcrumb p span {
  color: var(--color-light);
}

@media (max-width: 992px) {
  .rank-math-breadcrumb {
    font-size: 11px;
  }
  .rank-math-breadcrumb p {
    padding: 10px 10px 10px;
  }
}

.hazo-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hazo-pagination ul li a {
  border: 1px solid #183c30;
  margin: 0 4px 7px;
  display: block;
  padding: 6px 15px;
  background: var(--bg-white);
  color: var(--color-text);
  -webkit-transition: .4s;
  transition: .4s;
}

.hazo-pagination ul li a:hover {
  background: var(--first-color-alt);
  color: var(--color-light);
}

.hazo-pagination .active a {
  background: var(--first-color-alt);
  color: var(--color-light);
}

@media (max-width: 576px) {
  .hazo-pagination ul li a {
    padding: 3px 12px;
  }
}

/* reset Post */
.ws-sgct blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eb2b2d;
}

.ws-sgct blockquote p {
  margin: 0 !important;
}

.ws-sgct code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: .85rem;
  color: #e83e8c;
}

.ws-sgct p, .ws-sgct table {
  margin: 0 0 20px;
  line-height: 2;
}

.ws-sgct table {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

.ws-sgct table > tbody > tr > td, .ws-sgct table > tbody > tr > th, .ws-sgct table > tfoot > tr > td, .ws-sgct table > tfoot > tr > th, .ws-sgct table > thead > tr > td, .ws-sgct table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px;
}

.ws-sgct h6 {
  font-size: 18px;
}

.ws-sgct h5 {
  font-size: 21px;
}

.ws-sgct h4 {
  font-size: 24px;
}

.ws-sgct h3 {
  font-size: 27px;
}

.ws-sgct h2 {
  font-size: 30px;
}

.ws-sgct ul, .ws-sgct ol {
  margin: 0 0 20px;
  padding-left: 55px;
  list-style: disc;
}

.ws-sgct ul li, .ws-sgct ol li {
  line-height: 1.5;
}

.ws-sgct ol {
  list-style: decimal;
}

.ws-sgct iframe {
  margin: auto;
}

.ws-sgct .syntaxhighlighter {
  padding: 10px 0;
}

.ws-sgct h2, .ws-sgct h3, .ws-sgct h4, .ws-sgct h5, .ws-sgct h6 {
  margin: 0 0 30px;
}

/* end reset post */
.post__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px auto;
      grid-template-columns: 240px auto;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #d8d8d8;
}

.post__item-img img {
  width: 100%;
  height: 150px;
}

.post__item-title {
  font-size: 17px;
  font-weight: 600;
  color: var(--title-color);
  display: block;
  margin-bottom: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.post__item-title:hover {
  color: var(--first-color-alt);
}

.post__item-desc {
  font-size: 16px;
}

@media (max-width: 992px) {
  .post__item-title {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .post__item {
    padding-bottom: 0px;
    -ms-grid-columns: 110px auto;
        grid-template-columns: 110px auto;
    margin-bottom: 10px;
    gap: 15px;
  }
  .post__item-desc {
    display: none;
  }
  .post__item-title {
    font-size: 13px;
    color: var(--first-color-alt);
  }
  .post__item-img img {
    height: 80px;
  }
}

.post-detail__title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: #0872ba;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 26px;
  border-bottom: 1px solid #0872ba;
}

.post-detail__title-type {
  border-bottom: none;
}

@media (max-width: 992px) {
  .post-detail__title-type {
    font-size: 13px;
  }
}

.post-other__title {
  background: var(--first-color-alt);
  margin: 30px 0px;
}

.post-other__tab {
  padding: 10px 60px 10px 33px;
  background: #88c23f;
  color: #fff;
  font-size: 20px;
  display: inline-block;
}

.post-other__img img {
  width: 100%;
  height: 150px;
}

.post-other__item {
  width: 23.5%;
  margin-left: 1.5%;
}

.post-other__list {
  width: 100%;
}

@media (max-width: 992px) {
  .post-other__item {
    width: 49%;
  }
  .post-other__tab {
    font-size: 15px;
    padding-left: 10px;
    background: unset;
  }
  .post-other__list {
    padding-bottom: 20px;
  }
}

.intro-nav {
  padding: 25px 0px 10px;
}

.intro-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.intro-nav__list li a {
  color: var(--first-color-alt);
  padding: 5px;
  border: 1px solid var(--first-color-alt);
  text-align: center;
  font-size: 11px;
  border-radius: 4px;
  display: block;
}

@media (max-width: 375px) {
  .intro-nav__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .intro-nav__list li a {
    font-size: 9px;
    padding: 5px 0;
  }
}

/* layout */
.header {
  /*------- header top ------------*/
  /*------ end header top----*/
  /*------ header center ------*/
  /*------ end header center ------*/
  /*header- bottom*/
  /* end header - bottom*/
}

.header-top {
  background-color: var(--first-color-alt);
  color: var(--color-light);
  height: 48px;
  line-height: 48px;
  overflow: hidden;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__left {
  padding-left: 28px;
  position: relative;
}

.header-top__left::before {
  content: '';
  display: block;
  background: url(../images/head-add.png) 0 center no-repeat;
  width: 21px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header-top__list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top__list li a {
  color: var(--color-light);
  font-size: 15px;
  display: inline-block;
  color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 0 10px;
}

.header-top__list li a:hover {
  background-color: var(--second-color);
}

.header-top__list li a::before {
  content: '';
  display: inline-block;
  background-position: right center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 4px;
}

.header-top__list li a.header-top__link-2::before {
  background-image: url(../images/head-link-icon-1.png);
  width: 21px;
  height: 24px;
}

.header-top__list li a.header-top__link-3::before {
  background-image: url(../images/head-link-icon-2.png);
  width: 19px;
  height: 19px;
}

.header-top__list li a.header-top__link-4::before {
  background-image: url(../images/head-link-icon-3.png);
  width: 11px;
  height: 26px;
}

.header-top__list li a.header-top__link-5::before {
  background-image: url(../images/head-link-icon-4.png);
  width: 30px;
  height: 19px;
}

.header-center {
  height: 157px;
  background: var(--bg-white);
}

.header-center__logo {
  width: 270px;
  text-align: center;
}

.header-center__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center__commit-list {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
}

.header-center__commit-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  background-position: 0;
  font-weight: 700;
  color: var(--first-color-alt);
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.header-center__commit-item-1 {
  background-image: url(../images/head-cam-ket-1.jpg);
  padding-left: 40px;
}

.header-center__commit-item-2 {
  background-image: url(../images/head-cam-ket-2.jpg);
  padding-left: 78px;
}

.header-center__commit-item-3 {
  background-image: url(../images/head-cam-ket-3.jpg);
  padding-left: 51px;
}

.header-center__commit-item-4 {
  background-image: url(../images/head-cam-ket-4.jpg);
  padding-left: 55px;
}

.header-center__commit-item-5 {
  background-image: url(../images/head-cam-ket-5.jpg);
  padding-left: 43px;
}

.header-center__shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-center__shortcut-item svg {
  fill: #fff;
}

.header-center__shortcut-item {
  width: 100%;
  margin: 5px 0;
  background: #057acb;
  color: #fff;
  border-radius: 4px;
  padding: 8px 35px;
}

.header-bottom {
  background: var(--first-color-alt);
  height: 50px;
  margin-bottom: 10px;
}

.header-bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 296px;
  background: var(--second-color);
  color: #fff;
  height: 50px;
  font-size: 16px;
  padding: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__nav > a {
  color: var(--color-light);
}

.header-bottom__nav svg {
  fill: var(--color-light);
}

.header-bottom__search {
  margin: 6px 15px;
  width: 648px;
  position: relative;
}

.header-bottom__search input {
  width: 100%;
  left: 0;
  z-index: 1;
  border-radius: 8px;
  padding: 0 10px;
}

.header-bottom__search button {
  width: 50px;
  right: 0;
  z-index: 2;
  border-radius: 0 8px 8px 0;
  background: var(--second-color);
  color: #fff;
  font-size: 22px;
}

.header-bottom__search input, .header-bottom__search button {
  position: absolute;
  height: 100%;
  top: 0;
  border: none;
}

.header-bottom__search svg {
  fill: var(--color-light);
}

.header-bottom__contact {
  position: absolute;
  top: 0;
  right: 17px;
  max-width: 390px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom__call {
  float: right;
  display: block;
  text-transform: uppercase;
  color: #fff;
  background: var(--second-color) url(../images/toolbar-call.png) 10px center no-repeat;
  height: 50px;
  padding: 8px 15px 7px 70px;
  text-align: left;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header-bottom__social {
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}

.header-bottom__social a {
  float: right;
}

.header-bottom__social a svg {
  fill: var(--first-color-alt);
}

.header-bottom__social svg {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: var(--first-color-alt);
  padding: 9px 7px;
  margin-right: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-bottom__social svg:hover {
  background: var(--second-color);
}

@media (max-width: 1440px) {
  .header-center__commit-list {
    padding: 0px;
  }
}

@media (max-width: 1366px) {
  .header-center__commit-item {
    background-size: auto 30px;
    font-size: 13px;
  }
  .header-bottom__search {
    width: 370px !important;
  }
}

@media (max-width: 1200px) {
  .header-center__logo {
    width: 110px;
  }
  .header-center__commit-item {
    font-size: 11px;
    background-position: center 0;
    padding-left: 0;
    padding-top: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .header-bottom__nav {
    width: 240px;
  }
  .header-bottom__search {
    width: 270px !important;
  }
}

@media (max-width: 992px) {
  .header-center__commit-item {
    font-size: 11px;
    background-position: center 0;
    padding-left: 0;
    padding-top: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-bottom__call {
    background: var(--second-color) url(../images/toolbar-call.png) 25px center no-repeat;
  }
  .header-bottom__call b {
    display: none;
  }
  .header-bottom__call span {
    display: none;
  }
}

/* header mb */
.header-mb {
  height: 42px;
  background-color: var(--first-color-alt);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-mb {
  z-index: 9;
  top: 0;
  height: 42px;
  left: 0;
  background: var(--first-color-alt);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mb__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-mb__logo img {
  width: 90px;
}

.nav-mb__search {
  margin: 9px 0 9px 15px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: relative;
}

.nav-mb__search input {
  width: 100%;
  left: 0;
  z-index: 1;
  border-radius: 4px;
  border: none;
}

.nav-mb__search button {
  width: 33px;
  right: 0;
  z-index: 2;
  border-radius: 0 4px 4px 0;
  background: var(--second-color);
  border: none;
  color: var(--color-light);
  font-size: 14px;
  position: absolute;
  height: 21px;
}

.nav-mb__search button svg {
  fill: #fff;
}

.nav-mb__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  line-height: 9px;
  font-size: 9px;
  width: 42px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-mb__toggle svg {
  fill: #fff;
}

/* menu mobile */
.menu-mobile {
  position: relative;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.menu-mobile-active {
  opacity: 1;
  visibility: visible;
}

.menu-mobile__list {
  position: fixed;
  left: 0;
  top: 42px;
  z-index: 100;
  width: 100%;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  height: 460px;
  overflow: auto;
  background: #fff;
}

.menu-mobile__list > li > a {
  width: 100px;
  height: 50px;
  background-color: #057acb;
  font-size: 12px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px 5px;
}

.menu-mobile__list > li > a svg {
  margin-right: 5px;
  fill: #fff;
}

.menu-mobile__sub {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 102px;
  width: calc(100% - 102px);
}

.menu-mobile__sub li {
  display: none;
}

.menu-mobile__sub a {
  color: #057acb;
  margin: 15px 5px 0;
  display: block;
}

.menu-mobile__sub::after {
  border-bottom: 1px solid #057acb;
  margin: 10px 5px 0;
  content: '';
  display: block;
  width: 100%;
}

.menu-mobile__mega {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.menu-mobile__mega > li > a {
  display: block;
  padding: 5px;
  margin: 6px;
  background: #ece9eb;
  color: #333;
  border-radius: 4px;
  text-align: center;
  font-size: 11px;
}

/* active link*/
.current-menu-item li {
  display: block;
}

.current-menu-item > a {
  background-color: #ece9eb !important;
  color: #057acb !important;
}

.current-menu-item > a svg {
  fill: var(--first-color-alt) !important;
}

.toolBar {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  z-index: 9;
  max-width: 296px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-bottom__nav:hover .toolBar {
  display: block;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.pop-form {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
}

.pop-form__box {
  background: white;
  margin: 0 auto;
  width: 350px;
  -webkit-box-shadow: 0 1px 10px gray;
          box-shadow: 0 1px 10px gray;
  position: relative;
  z-index: 99;
  padding-top: 10px;
  display: none;
}

.pop-form__box-show {
  display: block;
}

.pop-form__form form {
  padding: 20px 20px 10px;
}

.pop-form__form input, .pop-form__form textarea {
  width: 100%;
  margin-bottom: 4px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  background: #ddd;
  padding: 9px 12px;
}

.pop-form__form button {
  width: 100%;
  background: var(--second-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 9px 12px;
  text-transform: uppercase;
}

.pop-form__sol {
  text-align: center;
  color: #696969;
  font-size: 13px;
}

.pop-form__sol p {
  margin: 6px 0 12px;
  font-size: 12px;
  font-style: italic;
  display: inline-block;
}

.pop-form__sol p a {
  color: var(--first-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.pop-form__close {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 20px;
}

.pop-form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #88c23f;
  padding: 5px 0 8px;
}

.pop-form__message img {
  width: 90px;
}

.pop-form__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: var(--first-color);
}

.pop-form__title p {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
}

.pop-form__title b {
  display: block;
  font-weight: 700;
}

@media (max-width: 320px) {
  .pop-form__box {
    width: 320px;
  }
}

.footer {
  background-color: var(--bg-dark);
  color: var(--color-footer);
  /* Footer top */
  /* Footer bottom */
}

.footer-top {
  background: var(--first-color);
  padding: 30px 0;
  color: var(--color-light);
}

.footer-top__list li {
  margin: 8px 0;
}

.footer-top__list li a {
  color: var(--color-light);
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-top__list li a:hover {
  color: var(--first-color-alt);
}

.footer-top__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: var(--second-color);
}

.footer-bottom {
  padding: 40px 0;
}

.footer-bottom__logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-bottom__certification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__certification li {
  margin-right: 10px;
}

.footer-bottom__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--second-color);
}

.footer-bottom__list li {
  font-size: 13px;
}

.footer-bottom__list li strong {
  font-size: 14px;
  color: #ff9900;
  font-weight: bold;
}

.footer-bottom__link {
  color: var(--second-color);
  font-weight: 500;
  text-decoration: underline;
  font-size: 13px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 0 20px;
  display: block;
}

.footer-bottom__link:hover {
  color: var(--first-color);
}

.backToTop {
  position: fixed;
  z-index: 9999;
  bottom: 58px;
  right: -100%;
  background-color: var(--second-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.backToTop svg {
  fill: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-mb__contact {
  display: none;
}

.show__backToTop {
  right: 20px;
}

@media (max-width: 768px) {
  .footer-bottom__certification {
    display: initial;
  }
}

@media (max-width: 576px) {
  .footer {
    margin-bottom: 50px;
  }
  .footer-mb__contact {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    position: fixed;
    background: var(--first-color-alt);
    left: 0;
    bottom: 0;
    padding: 0 5px;
    z-index: 99;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-mb__contact a {
    float: 1;
    margin: 7px 4px;
    line-height: 40px;
    border-radius: 4px;
    border-radius: 4px;
    color: #057acb;
    font-size: 14px;
    padding-left: 15px;
    background: #f2ede3;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .footer-mb__contact a svg {
    fill: var(--first-color-alt);
  }
}

.sidebar__item {
  position: relative;
  background-color: var(--bg-white);
  margin-bottom: 20px;
}

.sidebar__title {
  font-size: 20px;
  background-color: var(--second-color);
  padding: 8px 15px;
  color: var(--color-light);
}

.sidebar__list {
  margin-top: 10px;
  padding: 10px;
}

.sidebar__list > li > a {
  font-size: 16px;
  font-weight: 600;
  color: var(--first-color-alt);
}

.sidebar__list-type {
  margin-top: 0px;
}

.sidebar__list-type li a {
  font-size: 17px;
  color: var(--title-color);
  font-weight: normal;
  text-transform: inherit;
  display: block;
  padding: 3px 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar__list-type li a:hover {
  color: var(--first-color-alt);
}

.sidebar__list-post li {
  margin-bottom: 5px;
}

.sidebar__list-post a {
  color: var(--first-color-alt);
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar__list-post a:hover {
  color: var(--second-color);
}

.sidebar__list-post__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px auto;
      grid-template-columns: 90px auto;
  gap: 15px;
}

.sidebar__list-post__img img {
  width: 100%;
}

.sidebar__collapsed {
  margin-left: 20px;
}

.sidebar__collapsed li a {
  color: var(--five-color);
  font-size: 16px;
  -webkit-transition: .4s;
  transition: .4s;
}

.sidebar__collapsed li a:hover {
  color: var(--first-color-alt);
}

.sidebar__box {
  padding: 25px;
}

.sidebar__input-item {
  padding: 6px 0;
  font-size: 14px;
  color: var(--title-color);
}

.sidebar__input-item a {
  color: var(--title-color);
}

.sidebar__filter-title {
  font-weight: 600;
  padding: 5px 0;
}

@media (max-width: 992px) {
  .wrapper-content {
    margin-top: 42px;
    position: relative;
    overflow: hidden;
  }
}
