.intro-nav{
    padding: 25px 0px 10px;
    &__list{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 5px;
        li{
            a{
                color: var(--first-color-alt);
                padding: 5px;
                border: 1px solid var(--first-color-alt);
                text-align: center;
                font-size: 11px;
                border-radius: 4px;
                display: block;
            }
        }
    }
}

@media (max-width: 375px){
    .intro-nav{
        &__list{
            grid-template-columns: repeat(4 , 1fr);
            li{
                a{
                    font-size: 9px;
                    padding: 5px 0;
                }
            }
        }
    }

}