.post-detail{
    &__title{
        margin: 0;
        padding: 0 0 10px;
        font-size: 20px;
        padding-bottom: 10px;
        text-align: left;
        color: #0872ba;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 26px;
        border-bottom: 1px solid #0872ba;
    }
}