:root{
    --first-color: #065c96;
    --first-color-alt: #057acb;
    --second-color: #8bc63f;
    --third-color:  #ff0000;
    /* Fourth */
    --fourth-color: #e3007b;
    --five-color: #dd9c0a;
    
    /*---- Color ----*/
    --color-text: #333333;
    --color-light: #fff;
    --color-footer: #d1d1d1;

    --title-color: #333;

    /* background*/
    --bg-body: #f0f0f0;
    --bg-white: #fff;
    --bg-button: #ccc;
    --bg-dark: #333333;
}