<aside class="sidebar">
    <div class="sidebar__box">
        <div class="sidebar__title">Danh mục sản phẩm</div>
        <ul class="sidebar__list">
            <li><a href="#">GẠCH ỐP LÁT</a>
                <ul class="sidebar__collapsed">
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                </ul>
            </li>
            <li><a href="#">THIẾT BỊ VỆ SINH</a>
                <ul class="sidebar__collapsed">
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                </ul>
            </li>
            <li><a href="#">THIẾT BỊ BẾP</a>
                <ul class="sidebar__collapsed">
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                    <li><a href=""><span class="sidebar__divider">»</span> Gạch lát nền</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
