.footer{
    background-color: var(--bg-dark);
    color: var(--color-footer);
    /* Footer top */
    &-top{
        background: var(--first-color);
        padding: 30px 0;
        color: var(--color-light);
        &__list{
            li{
                margin: 8px 0;
                a{
                    color: var(--color-light);
                    transition: .3s;
                    &:hover{
                        color: var(--first-color-alt);
                    }
                }

            }
        }
        &__title{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            color: var(--second-color);
        }
    }
    /* Footer bottom */
    &-bottom{
        padding: 40px 0;
        &__logo{
            text-align: center;
            margin-bottom: 20px;
        }
        &__certification{
            display: flex;
            align-items: center;
            li{
                margin-right: 10px;
            }
        }
        &__title{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 20px;
            color: var(--second-color);
        }
        &__list{
            li{
                font-size: 13px;
                strong{
                    font-size: 14px;
                    color: #ff9900;
                    font-weight: bold;
                }
            }
        }
        &__link{
            color: var(--second-color);
            font-weight: 500;
            text-decoration: underline;
            font-size: 13px;
            transition: .3s;
            padding: 10px 0 20px;
            display: block;
            &:hover{
                color: var(--first-color);
            }
        }
    }
}

@media (max-width: 768px){
    .footer{
        &-bottom{
            &__certification{
                display: initial;
            }
        }
    }
}